
html {
    font-family: 'Assistant', sans-serif;
    font-family: 'Cinzel', serif;
}

*{
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-image: url(./images/Fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: #380404dc;
    position: fixed;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 20);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2%;
    height: 50px;
    z-index: 99;
}

.logo {
    height: 30px;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0;
    
}

.item {
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    color: #F2F2F2;
}

.item:hover {
    font-weight: 500;
    color: #ff2258;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

label {
    cursor: pointer;
    display: none;
}

@media (max-width:991px) {
    .menu {
        padding: 30px;
        margin: 0;
    }

    label {
        display: initial;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #4F0808;
        background: rgba(79, 8, 8, 1);
        display: none;
    }

    .item {
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked~.menu {
        display: initial;
    }
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
/* 
div h1.center-h1{
    text-align: center;
}
div.center-h1{
    text-align: center;
}
div h1{
    text-align: center;
    font-size: 1.5rem;
}

h1.margin-h1{
    /* margin-top: 100px;   
     padding-top: 8%; 
    margin-top: 0;
    margin-bottom: 22px;
}

h1, h2{
    color: #fdfdfd;
    margin: 0 auto;
    padding-top: 80px;
} */ 

h1.center-h1{
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 28px;
    color: #F2F2F2;
    text-transform: capitalize;
    text-shadow: 0px 6px 5px rgb(0, 0, 0, 1);
}

.door{
    /* width: 360px;
    max-width: 360px;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#ezio{
    padding-top: 10px;
    width: 360px;
}

.container-family{
    height: 100%;
   
}

.familiars{
    margin: 75px auto;
    width: 80%;
    height: 300px;
    
}

img.family{
    max-width: 200px;
    max-height: 350px;
    float: right;
    border-radius: 10px ;
    margin-left: 30px;
}

/* Estilos equipment */

.container-equipment h3{
    font-size: 18px;
    color: #F2F2F2;
}

.container-equipment p{
    font-family: 'Assistant', sans-serif;
    color: #F2F2F2;
    font-size: 17px;
    
}

.container-equipment{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
}

.cont-equip{
    
    text-align: justify;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 20px;
}

.img-equipment{
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 4px #010101a5;
}

div.text-equipment{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.text-equipment h3{
    text-shadow: 0px 4px 15px #ffffff99;
}

div.text-equipment p {
    color: #F2F2F2;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    padding: 15px 15px 15px 15px;
    background-color: #510707b1;
    border-radius: 20px;
    border-style: solid;
    border-color: #5f111175;
    box-shadow: 0px 0px 10px 0px #310505;

}

@media (max-width:991px){

    .container-equipment{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    
    
    .cont-equip{
        
        text-align: justify;
        padding: 20px;
        display: grid;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width:680px){

    .container-equipment{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        gap: 15px;
    }
    
    
    .cont-equip{
        
        text-align: justify;
        padding: 20px;
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        gap: 15px;
    }
}
/* Estilos para la sección "Appearances" */

.container-appearances{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    width: auto;
    height: auto;
}

.appearance{
    margin: 50px auto;
    padding: 50px 0px  50px 0px;
    width: 80%;
    height: 300px;
}

img.games{
    max-width: 250px;
    float: left;
    border-radius: 10px ;
    margin-right: 25px;
    box-shadow: 0px 0px 15px 0px #F2F2F2;
}

.text-box{
    color: #F2F2F2;
    margin-left: 15px;
    
}

.text-box h2{
    font-size: 24px;
}

.appearance h2{
    text-shadow: 0px 8px 4px #040404ca;
}

.text-box p {
    color: #F2F2F2;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    padding: 20px 20px 80px 25px;
    background-color: #510707b1;
    border-radius: 20px;
    border-style: solid;
    border-color: #5f111175;
    box-shadow: 0px 0px 10px 0px #310505;

}

/* Slider */

.slider-frame{
    width: 175px;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden; 
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate linear;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    border-radius: 8px;
    width: 175px;
    height: 350px;    
}

@keyframes slide{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}

/* Design */

.cont-des{
    font-size: 20px;
    color: #F2F2F2;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 20px;
    background-color: rgba(77, 16, 16, 0.202);
    border-radius: 35px;
}

.text-desing{
    padding: 50px 0px  50px 0px;
    width: 80%;
    height: 100%;
    display: inline;
    flex-direction: column;
    justify-content: space-between;
}

.desing{
    width: 200px;
    margin: 25px 75px auto;

}

.desing img{
    width: 200px;
    box-shadow: 0px 0px 14px 8px #f2f2f27b;
    border-radius: 15px;
    
}

.text-desing p{
    margin: 50px 50px;
    color: #000000;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    padding: 20px 20px 80px 25px;
    background-color: #f2f2f2b5;
    border-radius: 20px;
    border-style: solid;
    border-color: #5f111175;
    box-shadow: 0px 0px 10px 0px #310505;
    
}

/* footer */
footer{
    height: 80px;
    background-color: #430707aa;
    box-shadow: 0px 0px 20px 0px #000000;
}

footer a{
    text-decoration: none;
    color: #F2F2F2;
    font-family: 'Assistant', sans-serif;
    opacity: 70%;
}
.footer{
    padding: 20px;
}